/.metadata/
D:/Rapipay-INT001/springProjects/OtpGeneration/src/main/resources/application.properties
D:/Rapipay-INT001/springProjects/OtpGeneration/src/main/resources/springboot.p12
D:/Rapipay-INT001/node.js/text_files
D:/Rapipay-INT001/node.js/npm_modules/node_modules
D:/Rapipay-INT001/node.js/events/node_modules