<div *ngIf="flag">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <!-- Brand/logo -->
      <a class="navbar-brand" routerLink="../">Rapipay</a>
      
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="transactionlist"  >Transaction List</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="addTransaction">Do Transaction</a>
        </li>
      </ul>
    
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" #clientId>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
      </form>
    
      </div>
    </nav>
    
    
  </div>

